In [3]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
ds_path_test='test.csv'
ds_path_train='train_prepared_01.csv'

In [4]:
df_test=pd.read_csv(ds_path_test)
df_test

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,B,B,11,2748,1,NaN,0,0,B
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,B,B,23,4583,3,NaN,3,3,B
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,8180,11,3.0,67.133911,50.809797,6.0,5,9.0,1973,0.000170,B,B,36,5992,0,NaN,1,1,B
4996,4695,1,1.0,40.198472,21.807061,10.0,12,17.0,2017,0.007122,B,B,1,264,0,NaN,0,1,B
4997,5783,12,3.0,77.842178,48.282625,9.0,23,22.0,1989,0.090799,B,B,74,19083,2,NaN,5,15,B
4998,4780,62,2.0,81.305222,NaN,0.0,4,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A
4999,12504,30,2.0,60.555693,NaN,1.0,10,17.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B

In [5]:
df_train=pd.read_csv(ds_path_train)
df_train

,Unnamed: 0,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,...,Healthcare_1,Helthcare_2,Shops_1,Price,A,B,A.1,B.1,A.2,B.2
0,0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,...,900.0,0,11,184966.930730,0,1,0,1,0,1
1,1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,...,240.0,1,16,300009.450063,0,1,0,1,0,1
2,2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,...,229.0,1,3,220925.908524,0,1,0,1,0,1
3,3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,...,1084.0,0,5,175616.227217,0,1,0,1,0,1
4,4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,...,2078.0,2,4,150226.531644,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,...,350.0,3,11,196684.316040,0,1,0,1,0,1
9996,9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,...,900.0,0,5,189050.289571,0,1,0,1,1,0
9997,9997,5123,27,1.0,47.939008,32.781260,1.0,12,16.0,2015,...,900.0,0,0,159143.805370,0,1,0,1,1,0
9998,9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,...,325.0,2,5,181595.339808,0,1,1,0,0,1
9999,9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,...,30.0,2,8,218714.077615,0,1,0,1,0,1

In [6]:
price=df_train.Price
price

0       184966.930730
1       300009.450063
2       220925.908524
3       175616.227217
4       150226.531644
            ...
9995    196684.316040
9996    189050.289571
9997    159143.805370
9998    181595.339808
9999    218714.077615
Name: Price, Length: 10000, dtype: float64

In [45]:
fiature_names=df_train.keys()
fiature_names

Index(['Unnamed: 0', 'Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare',
       'KitchenSquare', 'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1',
       'Social_1', 'Social_2', 'Social_3', 'Healthcare_1', 'Helthcare_2',
       'Shops_1', 'Price', 'A', 'B', 'A.1', 'B.1', 'A.2', 'B.2'],
      dtype='object')

In [46]:
x = pd.DataFrame(df_train, columns=fiature_names)
x

,Unnamed: 0,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,...,Healthcare_1,Helthcare_2,Shops_1,Price,A,B,A.1,B.1,A.2,B.2
0,0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,...,900.0,0,11,184966.930730,0,1,0,1,0,1
1,1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,...,240.0,1,16,300009.450063,0,1,0,1,0,1
2,2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,...,229.0,1,3,220925.908524,0,1,0,1,0,1
3,3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,...,1084.0,0,5,175616.227217,0,1,0,1,0,1
4,4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,...,2078.0,2,4,150226.531644,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,...,350.0,3,11,196684.316040,0,1,0,1,0,1
9996,9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,...,900.0,0,5,189050.289571,0,1,0,1,1,0
9997,9997,5123,27,1.0,47.939008,32.781260,1.0,12,16.0,2015,...,900.0,0,0,159143.805370,0,1,0,1,1,0
9998,9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,...,325.0,2,5,181595.339808,0,1,1,0,0,1
9999,9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,...,30.0,2,8,218714.077615,0,1,0,1,0,1

In [47]:
y=pd.DataFrame(price, columns=['Price'])
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
Price    10000 non-null float64
dtypes: float64(1)
memory usage: 78.2 KB

In [56]:
# разбить на тестовую и обучающую выборки
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42) # shuffle=True,

In [57]:
# линейная регрессия
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [58]:
# переобучение
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [59]:
# получить предсказанные значения на объектах X_test с помощью метода .predict:
y_pred = lr.predict(x_test)
y_pred.shape

(2500, 1)

In [60]:
# Создадим таблицу DataFrame чтобы сопоставить реальные значения с предсказанными. 
# Поскольку массив y_pred является двумерным, переведём его в одномерный, используя метод .flatten.
check_test = pd.DataFrame({
    "y_test": y_test["Price"],
    "y_pred": y_pred.flatten(),
})
check_test

             y_test         y_pred
6252  181530.459031  181530.459031
4684  260456.004692  260456.004692
1731  219945.304640  219945.304640
4742   66883.280318   66883.280318
4521  114086.065201  114086.065201
...             ...            ...
4862  244256.756548  244256.756548
7025  236529.011881  236529.011881
7647  218975.318679  218975.318679
7161  133563.247029  133563.247029
73    174952.644191  174952.644191

[2500 rows x 2 columns]

In [61]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(check_test["y_pred"], check_test["y_test"]))

from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(check_test["y_pred"], check_test["y_test"]))

from sklearn.metrics import r2_score as r2
r2(y_test, y_pred) # sample_weight=None, multioutput='uniform_average'

4.622872892053476e-21
4.952598828822374e-11

1.0

In [12]:
# переобучение и оценка модели
from sklearn.ensemble import GradientBoostingRegressor
final_model = GradientBoostingRegressor(n_estimators=100, max_depth=7, random_state=42)
final_model.fit(x_train, y_train)

C:\Users\v\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=7,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=42, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [20]:
from sklearn.metrics import r2_score as r2, mean_absolute_error as mae, mean_squared_error as mse
import seaborn as sns
def evaluate_preds(true_values, pred_values):
    print("R2:\t" + str(round(r2(true_values, pred_values), 3)) + "\n" +
          "MAE:\t" + str(round(mae(true_values, pred_values), 3)) + "\n" +
          "MSE:\t" + str(round(mse(true_values, pred_values), 3)))
    
    plt.figure(figsize=(10,10)) 
    
    sns.scatterplot(x=pred_values, y=true_values)
    
    plt.xlabel('Predicted values')
    plt.ylabel('True values')
    plt.title('True vs Predicted values')
    plt.show()

In [21]:
y_train_preds = final_model.predict(x_train)
evaluate_preds(y_train, y_train_preds)

R2:	1.0
MAE:	22.211
MSE:	956.723

ValueError: could not broadcast input array from shape (6700) into shape (1)

In [25]:
y_train

              Price
4901  114363.123431
4375  248648.729960
6698  180347.854123
9805  183697.031896
1101  245768.096202
...             ...
5734  150136.610509
5191  328680.869407
5390  255102.406709
860   182236.048759
7270  443365.496451

[7500 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=42)
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)